/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
  font-family: 'Ubuntu_condensedregular';
  src: url("../fonts/ubuntu-condensed-webfont.eot");
  src: url("../fonts/ubuntu-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-condensed-webfont.woff2") format("woff2"), url("../fonts/ubuntu-condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ps1t64");
  src: url("../fonts/icomoon.eot?ps1t64#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ps1t64") format("truetype"), url("../fonts/icomoon.woff?ps1t64") format("woff"), url("../fonts/icomoon.svg?ps1t64#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }
.icon-facebook:hover {
  color: #248cec; }

.icon-frontemail .path1:before {
  content: "\e902"; }
.icon-frontemail .path2:before {
  content: "\e903";
  margin-left: -0.7724609375em;
  color: #35383c; }
.icon-frontemail .path3:before {
  content: "\e904";
  margin-left: -0.7724609375em;
  color: #35383c; }
.icon-frontemail .path4:before {
  content: "\e905";
  margin-left: -0.7724609375em;
  color: #35383c; }

.icon-iPhonepotrait .path1:before {
  content: "\e906"; }
.icon-iPhonepotrait .path2:before {
  content: "\e907";
  margin-left: -0.7724609375em;
  color: #35383c; }
.icon-iPhonepotrait .path3:before {
  content: "\e908";
  margin-left: -0.7724609375em;
  color: #35383c; }

.icon-linkedin .path1:before {
  content: "\e909"; }
.icon-linkedin .path2:before {
  content: "\e90a";
  margin-left: -0.7724609375em; }
.icon-linkedin .path3:before {
  content: "\e90b";
  margin-left: -0.7724609375em; }
.icon-linkedin:hover {
  color: #248cec; }

.icon-location .path1:before {
  content: "\e90c"; }
.icon-location .path2:before {
  content: "\e90d";
  margin-left: -0.7724609375em;
  color: #35383c; }

.icon-params:before {
  content: "\e90e"; }

.icon-rss .path1:before {
  content: "\e90f"; }
.icon-rss .path2:before {
  content: "\e910";
  margin-left: -0.7724609375em; }
.icon-rss .path3:before {
  content: "\e911";
  margin-left: -0.7724609375em; }
.icon-rss:hover {
  color: #248cec; }

.icon-search .path1:before {
  content: "\e912"; }
.icon-search .path2:before {
  content: "\e913";
  margin-left: -0.7724609375em; }
.icon-search .path3:before {
  content: "\e914";
  margin-left: -0.7724609375em;
  color: #35383c; }

.icon-settings:before {
  content: "\e915"; }

.icon-skype:before {
  content: "\e916"; }
.icon-skype:hover {
  color: #248cec; }

.icon-truck:before {
  content: "\e917"; }

.icon-twitter:before {
  content: "\e918"; }
.icon-twitter:hover {
  color: #248cec; }

/*# sourceMappingURL=icomoonstyle.css.map */

.jcarousel-wrapper {
    margin: 40px auto 70px;
    position: relative;
    width: 1160px;
    height: 473px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 1160px;
    height: 473px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 150px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #8a8a8a;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: 50px;
    z-index: 100;
}

.jcarousel-control-next {
    right: 50px;
    z-index: 100;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

@font-face {
  font-family: 'Ubuntu_condensedregular';
  src: url("../fonts/ubuntu-condensed-webfont.eot");
  src: url("../fonts/ubuntu-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-condensed-webfont.woff2") format("woff2"), url("../fonts/ubuntu-condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a {
  text-decoration: none; }

.wrapper {
  width: 1160px;
  margin: 0 auto;
  font-family: 'Ubuntu_condensedregular', sans-serif; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.logo_bh {
  width: 250px;
  float: left;
  margin-top: 35px; }

.social_net {
  width: 236px;
  float: right;
  margin-top: 50px;
  text-align: right; }
  .social_net__icon {
    display: inline-block;
    width: 24px;
    margin: 0 10px;
    color: #8a8a8a;
    text-align: center;
    font-size: 24px; }

.menu {
  margin-top: 40px;
  background-color: #2a2d32; }
  .menu__side {
    width: 605px;
    float: left;
    font-size: 0; }
    .menu__side .menu__item {
      display: inline-block;
      width: 120px;
      line-height: 56px;
      border-right: 1px solid black;
      text-align: center;
      font-size: 14px;
      letter-spacing: normal; }
      .menu__side .menu__item a {
        color: white; }
        .menu__side .menu__item a:hover {
          color: #f4b60d; }
      .menu__side .menu__item--active {
        background-color: #248cec; }
        .menu__side .menu__item--active a:hover {
          color: white; }
  .menu .menu__search {
    float: right;
    width: 240px;
    font-size: 0;
    border: 1px solid #181a1d;
    margin: 8px; }
    .menu .menu__search .menu__string {
      display: inline-block;
      vertical-align: top;
      width: 190px;
      padding-left: 10px;
      line-height: 36px;
      font-size: 12px;
      letter-spacing: normal;
      text-align: left;
      background-color: #35383c;
      color: #8a8a8a;
      border: none;
      outline: none; }
    .menu .menu__search .menu__botton {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      line-height: 24px;
      padding: 9px 0 3px 3px;
      font-size: 24px;
      text-align: center;
      background-color: #35383c;
      color: #8a8a8a;
      border: none;
      outline: none; }

table {
  border-collapse: collapse; }

.veil {
  position: absolute;
  top: 0;
  left: 0; }
  .veil__cell1 {
    width: 332px;
    height: 471px;
    border: 1px solid #248cec; }
  .veil__cell2 {
    width: 117px;
    height: 117px;
    border: 1px solid #248cec; }
  .veil__cell3 {
    width: 117px;
    height: 117px;
    background-color: #248cec;
    opacity: 0.4;
    border: 1px solid #248cec; }

.byb {
  position: absolute;
  bottom: 40px;
  left: 40px; }
  .byb p {
    background-color: rgba(42, 45, 50, 0.9);
    font-size: 40px; }
  .byb__string1 {
    width: 92px;
    color: #f4b60d;
    padding: 30px 30px 0; }
  .byb__string2 {
    width: 92px;
    color: white;
    padding: 0 30px; }
    .byb__string2 span {
      position: relative;
      top: 15px;
      left: 0; }
  .byb__string3 {
    width: 142px;
    color: white;
    padding: 30px; }

.b123 {
  font-size: 0;
  text-align: center;
  height: 265px; }
  .b123__item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 354px; }
    .b123__item .b123__number {
      display: inline-block;
      vertical-align: top;
      width: 120px;
      font-size: 90px;
      color: #8a8a8a;
      opacity: 0.2; }
    .b123__item .b123__content {
      display: inline-block;
      vertical-align: top;
      width: 234px; }
      .b123__item .b123__content .b123__icon {
        color: #f4b60d;
        font-size: 40px; }
      .b123__item .b123__content .b123__header {
        margin: 20px 0;
        font-size: 20px;
        color: #2a2d32; }
      .b123__item .b123__content .b123__text {
        padding-right: 10px;
        margin-bottom: 20px;
        font-size: 13px;
        color: #8a8a8a;
        line-height: 20px; }
      .b123__item .b123__content .b123__readmore {
        font-size: 13px; }
        .b123__item .b123__content .b123__readmore a {
          color: #2a2d32; }
        .b123__item .b123__content .b123__readmore span {
          color: #248cec; }
      .b123__item .b123__content .b123__readmore:hover a {
        color: #248cec; }
      .b123__item .b123__content .b123__readmore:hover span {
        color: #8a8a8a; }
  .b123__spacing {
    display: inline-block;
    vertical-align: center;
    width: 49px; }

.background-services {
  height: 500px;
  background-color: #2a2d32; }

.services {
  font-size: 0; }
  .services h2 {
    padding: 50px 0 55px 10px;
    font-size: 24px;
    color: white; }
  .services__item {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    position: relative;
    text-align: center; }
    .services__item a div {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
      height: 160px;
      background-color: #248cec;
      color: white;
      font-size: 60px;
      padding-top: 100px;
      opacity: 0.9; }
    .services__item a:hover + p {
      color: #f4b60d; }
    .services__item a:hover div {
      display: block; }
    .services__item p {
      margin: 30px 0 0;
      font-size: 16px;
      color: white; }
  .services__spacing {
    display: inline-block;
    vertical-align: top;
    width: 40px; }

.nb {
  height: 540px;
  background-color: #f7f7f7;
  font-size: 0;
  text-align: center; }
  .nb__side {
    display: inline-block;
    width: 560px;
    vertical-align: top;
    text-align: left; }
    .nb__side h2 {
      padding: 60px 0 50px 10px;
      font-size: 24px;
      color: #2a2d32; }
    .nb__side .nb__news .nb__item {
      margin-bottom: 30px; }
      .nb__side .nb__news .nb__item .nb__img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 150px; }
        .nb__side .nb__news .nb__item .nb__img .nb__date {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 40px;
          line-height: 40px;
          text-align: center; }
          .nb__side .nb__news .nb__item .nb__img .nb__date .nb__month {
            background-color: #248cec;
            color: white;
            font-size: 15px; }
          .nb__side .nb__news .nb__item .nb__img .nb__date .nb__day {
            background-color: #f4b60d;
            color: #2a2d32;
            font-size: 18px; }
      .nb__side .nb__news .nb__item .nb__content {
        display: inline-block;
        vertical-align: top;
        margin-left: 30px;
        line-height: 20px;
        width: 380px; }
        .nb__side .nb__news .nb__item .nb__content .nb__header {
          font-size: 16px;
          color: #2a2d32; }
          .nb__side .nb__news .nb__item .nb__content .nb__header:hover {
            color: #248cec; }
        .nb__side .nb__news .nb__item .nb__content .nb__by {
          padding-bottom: 20px;
          font-size: 13px;
          color: #2a2d32; }
          .nb__side .nb__news .nb__item .nb__content .nb__by a {
            color: #248cec; }
        .nb__side .nb__news .nb__item .nb__content .nb__text {
          font-size: 13px;
          color: #8a8a8a; }
    .nb__side .nb__banners .nb__bitem {
      margin-bottom: 5px;
      position: relative; }
    .nb__side .nb__banners .nb__radio {
      position: absolute;
      top: 11px;
      left: 9px;
      clip: rect(0, 0, 0, 0); }
    .nb__side .nb__banners .nb__radio:checked + .nb__botton:after {
      content: "-";
      background-color: #f4b60d;
      border: 1px solid #f4b60d;
      color: white; }
    .nb__side .nb__banners .nb__radio:checked + .nb__botton + .nb__pannel {
      background-color: #f4b60d;
      border: 1px solid #f4b60d;
      color: white; }
    .nb__side .nb__banners .nb__radio:checked + .nb__botton + .nb__pannel + .nb__btext {
      display: block; }
    .nb__side .nb__banners .nb__botton {
      display: inline-block; }
    .nb__side .nb__banners .nb__botton:after {
      content: "+";
      display: inline-block;
      vertical-align: top;
      width: 40px;
      line-height: 40px;
      background-color: white;
      border: 1px solid #e8e8e8;
      font-size: 13px;
      color: #2a2d32;
      text-align: center;
      cursor: pointer;
      position: relative; }
    .nb__side .nb__banners .nb__pannel {
      display: inline-block;
      vertical-align: top;
      width: 505px;
      line-height: 40px;
      background-color: white;
      border: 1px solid #e8e8e8;
      margin-left: 1px;
      padding-left: 10px;
      font-size: 13px;
      color: #2a2d32; }
    .nb__side .nb__banners .nb__btext {
      display: none;
      padding: 20px 10px 40px 44px;
      line-height: 20px;
      font-size: 13px;
      color: #8a8a8a; }

.logos {
  font-size: 0;
  height: 150px;
  padding-top: 90px;
  text-align: center; }
  .logos__img {
    display: inline-block;
    vertical-align: top; }
    .logos__img:hover {
      opacity: 0.7; }
  .logos__spacing {
    display: inline-block;
    vertical-align: top;
    width: 50px; }

.links {
  height: 325px;
  background-color: #2a2d32;
  font-size: 0;
  text-align: center; }
  .links__item {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    text-align: left; }
    .links__item .links__header {
      padding: 60px 0 50px 10px;
      font-size: 16px;
      color: white; }
    .links__item .links__list li {
      border-top: 1px solid #8a8a8a;
      padding-left: 10px; }
      .links__item .links__list li:first-child {
        border-top: none; }
      .links__item .links__list li a {
        line-height: 35px;
        font-size: 13px;
        color: #8a8a8a; }
        .links__item .links__list li a:hover {
          color: #248cec; }
  .links__spacing {
    display: inline-block;
    vertical-align: top;
    width: 40px; }

.background-contacts {
  background-color: #35383c; }

.contacts {
  line-height: 60px;
  font-size: 13px;
  color: #8a8a8a; }
  .contacts__adress {
    float: left;
    width: 650px; }
    .contacts__adress .contacts__item {
      padding-right: 30px;
      padding-left: 10px; }
      .contacts__adress .contacts__item a {
        color: #8a8a8a; }
  .contacts__copywrite {
    padding-right: 10px;
    float: right;
    width: 120px;
    text-align: right; }

/*# sourceMappingURL=style.css.map */
