@import 'variables';

a{
	text-decoration: none;
}
.wrapper{
	width: 1160px;
	margin: 0 auto;
	font-family: 'Ubuntu_condensedregular', sans-serif;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.logo_bh{
	width: 250px;
	float: left;
	margin-top: 35px;
}
.social_net{
	width: 236px;
	float: right;
	margin-top: 50px;
	text-align: right;
	&__icon{
		display: inline-block;
		width: 24px;
		margin: 0 10px;
		color: $color-lightgrey;
		text-align: center;
		font-size: 24px;
	}
}
.menu{
	margin-top: 40px;
	background-color: #2a2d32;
	&__side{
		width: 605px;
		float: left;
		font-size: 0;
		.menu__item{
			display: inline-block;
			width: 120px;
			line-height: 56px;
			border-right: 1px solid black;
			text-align: center;
			font-size: 14px;
			letter-spacing: normal;
			a{
				color: white;
				&:hover{
				color: $color-yellow;
				}
			}
			&--active{
				background-color: $color-blue;
				a:hover{
					color: white;
				}
			}
		}
	}
	.menu__search{
		float: right;
		width: 240px;
		font-size: 0;
		border: 1px solid #181a1d;
		margin: 8px;
		.menu__string{
			display: inline-block;
			vertical-align: top;
			width: 190px;
			padding-left: 10px;
			line-height: 36px;
			font-size: 12px;
			letter-spacing: normal;
			text-align: left;
			background-color: $background-search;
			color: $color-lightgrey;
			border: none;
			outline: none;
		}
		.menu__botton{
			display: inline-block;
			vertical-align: top;
			width: 40px;
			line-height: 24px;
			padding: 9px 0 3px 3px;
			font-size: 24px;
			text-align: center;
			background-color: $background-search;
			color: $color-lightgrey;
			border: none;
			outline: none;
		}
	}
}
table{
	border-collapse: collapse;
}
.veil{
	position: absolute;
	top: 0;
	left: 0;
	&__cell1{
		width: 332px;
		height: 471px;
		border: 1px solid $color-blue;
	}
	&__cell2{
		width: 117px;
		height: 117px;
		border: 1px solid $color-blue;
	}
	&__cell3{
		width: 117px;
		height: 117px;
		background-color: $color-blue;
		opacity: 0.4;
		border: 1px solid $color-blue;
	}
}
.byb{
	position: absolute;
	bottom: 40px;
	left: 40px;
	p{
		background-color: rgba(42, 45, 50, 0.9);
		font-size: 40px;
	}
	&__string1{
		width: 92px;
		color: $color-yellow;
		padding: 30px 30px 0;
	}
	&__string2{
		width: 92px;
		color: white;
		padding: 0 30px;
		span{
			position: relative;
			top: 15px;
			left: 0;
		}
	}
	&__string3{
		width: 142px;
		color: white;
		padding: 30px;
	}
}
.b123{
	font-size: 0;
	text-align: center;
	height: 265px;
	&__item{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 354px;
		.b123__number{
			display: inline-block;
			vertical-align: top;
			width: 120px;
			font-size: 90px;
			color: $color-lightgrey;
			opacity: 0.2;
		}
		.b123__content{
			display: inline-block;
			vertical-align: top;
			width: 234px;
			.b123__icon{
				color: $color-yellow;
				font-size: 40px;
			}
			.b123__header{
				margin: 20px 0;
				font-size: 20px;
				color: $color-darkgrey;
			}
			.b123__text{
				padding-right: 10px;
				margin-bottom: 20px;
				font-size: 13px;
				color: $color-lightgrey;
				line-height: 20px
			}
			.b123__readmore{
				font-size: 13px;
				& a{
  					color: $color-darkgrey;
  				}
  				& span{
    				color: $color-blue;
  				}
			}
			.b123__readmore:hover{
				& a{
  					color: $color-blue;
  				}
  				& span{
    				color: $color-lightgrey;
  				}
			}
		}
	}
	&__spacing{
		display: inline-block;
		vertical-align: center;
		width: 49px;
	}
}
.background-services{
	height: 500px;
	background-color: #2a2d32;
}
.services{
	font-size: 0;
	h2{
		padding: 50px 0 55px 10px;
		font-size: 24px;
		color: white;
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 260px;
		position: relative;
		text-align: center;
		a{
			div{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 260px;
				height: 160px;
				background-color: $color-blue;
				color: white;
				font-size: 60px;
				padding-top: 100px;
				opacity: 0.9
			}
			&:hover + p{
				color: $color-yellow;
			}
			&:hover div{
				display: block;
			}
		}
		p{
			margin: 30px 0 0;
			font-size: 16px;
			color: white;
		}
	}
	&__spacing{
		display: inline-block;
		vertical-align: top;
		width: 40px;
	}
}
.nb{
	height: 540px;
	background-color: #f7f7f7;
	font-size: 0;
	text-align: center;
	&__side{
		display: inline-block;
		width: 560px;
		vertical-align: top;
		text-align: left;
		h2{
			padding: 60px 0 50px 10px;
			font-size: 24px;
			color: $color-darkgrey;
		}
		.nb__news{
			.nb__item{
				margin-bottom: 30px;
				.nb__img{
					display: inline-block;
					vertical-align: top;
					position: relative;
					width: 150px;
					.nb__date{
						position: absolute;
						top: 10px;
						left: 10px;
						width: 40px;
						line-height: 40px;
						text-align: center;
						.nb__month{
							background-color: $color-blue;
							color: white;
							font-size: 15px;
						}
						.nb__day{
							background-color: $color-yellow;
							color: $color-darkgrey;
							font-size: 18px;
						}
					}
				}
				.nb__content{
					display: inline-block;
					vertical-align: top;
					margin-left: 30px;
					line-height: 20px;
					width: 380px;
					.nb__header{
						font-size: 16px;
						color: $color-darkgrey;
						&:hover{
							color: $color-blue;
						}
					}
					.nb__by{
						padding-bottom: 20px;
						font-size: 13px;
						color: $color-darkgrey;
						& a{
							color: $color-blue;
						}
					}
					.nb__text{
						font-size: 13px;
						color: $color-lightgrey;
					}
				}
			}
		}
		.nb__banners{
			.nb__bitem{
				margin-bottom: 5px;
				position: relative;
			}
			.nb__radio{
				position: absolute;
				top: 11px;
				left: 9px;
    			clip: rect(0, 0, 0, 0);
			}
			.nb__radio:checked + .nb__botton:after{
				content: "-";
				background-color: $color-yellow;
				border: 1px solid $color-yellow;
				color: white;
			}
			.nb__radio:checked + .nb__botton + .nb__pannel{
				background-color: $color-yellow;
				border: 1px solid $color-yellow;
				color: white;
			}
			.nb__radio:checked + .nb__botton + .nb__pannel + .nb__btext{
				display: block;
			}
			.nb__botton{
				display: inline-block;
			}
			.nb__botton:after{
				content: "+";
				display: inline-block;
				vertical-align: top;
				width: 40px;
				line-height: 40px;
				background-color: white;
				border: 1px solid #e8e8e8;
				font-size: 13px;
				color: $color-darkgrey;
				text-align: center;
				cursor: pointer;
				position: relative;
			}
			.nb__pannel{
				display: inline-block;
				vertical-align: top;
				width: 505px;
				line-height: 40px;
				background-color: white;
				border: 1px solid #e8e8e8;
				margin-left: 1px;
				padding-left: 10px;
				font-size: 13px;
				color: $color-darkgrey;
			}
			.nb__btext{
				display: none;
				padding: 20px 10px 40px 44px;
				line-height: 20px;
				font-size: 13px;
				color: $color-lightgrey;
			}
		}
	}
}
.logos{
	font-size: 0;
	height: 150px;
	padding-top: 90px;
	text-align: center;
	&__img{
		display: inline-block;
		vertical-align: top;
		&:hover{
			opacity: 0.7;
		}
	}
	&__spacing{
		display: inline-block;
		vertical-align: top;
		width: 50px;
	}
}
.links{
	height: 325px;
	background-color: #2a2d32;
	font-size: 0;
	text-align: center;
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 260px;
		text-align: left;
		.links__header{
			padding: 60px 0 50px 10px;
			font-size: 16px;
			color: white;
		}
		.links__list{
			li{
				border-top: 1px solid $color-lightgrey;
				padding-left: 10px;
				&:first-child{
					border-top: none;
				}
				a{
					line-height: 35px;
					font-size: 13px;
					color: $color-lightgrey;
					&:hover{
						color: $color-blue;
					}
				}
			}
		}
	}
	&__spacing{
		display: inline-block;
		vertical-align: top;
		width: 40px;
	}
}
.background-contacts{
	background-color: $background-contacts;
}
.contacts{
	line-height: 60px;
	font-size: 13px;
	color: $color-lightgrey;
	&__adress{
		float: left;
		width: 650px;
		.contacts__item{
			padding-right: 30px;
			padding-left: 10px;
			a{
				color: $color-lightgrey;
			}
		}
	}
	&__copywrite{
		padding-right: 10px;
		float: right;
		width: 120px;
		text-align: right;
	}
}