@font-face {
  font-family: 'Ubuntu_condensedregular';
  src: url("../fonts/ubuntu-condensed-webfont.eot");
  src: url("../fonts/ubuntu-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-condensed-webfont.woff2") format("woff2"), url("../fonts/ubuntu-condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a {
  text-decoration: none; }

header {
  width: 1160px;
  margin: 0 auto; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.logo_bh {
  width: 250px;
  float: left;
  margin-top: 35px; }

.social_net {
  width: 236px;
  float: right;
  margin-top: 50px;
  text-align: right; }
  .social_net__icon {
    display: inline-block;
    width: 24px;
    margin: 0 10px;
    color: #8a8a8a;
    text-align: center;
    font-size: 24px; }

.menu {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background: #2a2d32; }
  .menu__side {
    width: 605px;
    float: left;
    font-size: 0;
    letter-spacing: 0; }
    .menu__side__item {
      display: inline-block;
      width: 120px;
      line-height: 56px;
      border-right: 1px solid black;
      text-align: center;
      font-family: "Ubuntu_condensedregular";
      font-size: 14px;
      letter-spacing: normal; }
      .menu__side__item--active {
        background: #248cec; }
      .menu__side__item a {
        color: white; }
        .menu__side__item a:hover {
          color: #f4b60d; }
  .menu__search {
    float: right;
    width: 240px;
    font-size: 0;
    letter-spacing: 0;
    border: 1px solid #181a1d;
    margin: 8px; }
    .menu__search__string {
      display: inline-block;
      vertical-align: top;
      width: 190px;
      padding-left: 10px;
      line-height: 36px;
      font-family: Arial;
      font-size: 12px;
      letter-spacing: normal;
      text-align: left;
      background: #35383c;
      color: #8a8a8a;
      border: none; }
    .menu__search__botton {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      line-height: 24px;
      padding: 9px 0 3px 3px;
      font-size: 24px;
      text-align: center;
      background: #35383c;
      color: #8a8a8a;
      border: none; }

table {
  border-collapse: collapse; }

.veil {
  position: absolute;
  top: 0;
  left: 0; }
  .veil__cell1 {
    width: 332px;
    height: 471px;
    border: 1px solid #248cec; }
  .veil__cell2 {
    width: 117px;
    height: 117px;
    border: 1px solid #248cec; }
  .veil__cell3 {
    width: 117px;
    height: 117px;
    background: #248cec;
    opacity: 0.4;
    border: 1px solid #248cec; }

.byb {
  position: absolute;
  bottom: 40px;
  left: 40px; }
  .byb p {
    background: rgba(42, 45, 50, 0.9);
    font-family: "Ubuntu_condensedregular";
    font-size: 40px; }
  .byb__string1 {
    width: 92px;
    color: #f4b60d;
    padding: 30px 30px 0; }
  .byb__string2 {
    width: 92px;
    color: white;
    padding: 0 30px; }
    .byb__string2 span {
      position: relative;
      top: 15px;
      left: 0; }
  .byb__string3 {
    width: 142px;
    color: white;
    padding: 30px; }

.b123 {
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
  height: 265px; }
  .b123__item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 354px; }
    .b123__item__number {
      display: inline-block;
      vertical-align: top;
      width: 120px;
      font-family: "Ubuntu_condensedregular";
      font-size: 90px;
      color: #8a8a8a;
      opacity: 0.2; }
    .b123__item__content {
      display: inline-block;
      vertical-align: top;
      width: 234px; }
      .b123__item__content__icon {
        color: #f4b60d;
        font-size: 40px; }
      .b123__item__content__header {
        margin: 20px 0;
        font-family: "Ubuntu_condensedregular";
        font-size: 20px;
        color: #2a2d32; }
      .b123__item__content__text {
        margin-bottom: 20px;
        font-family: Arial;
        font-size: 13px;
        color: #8a8a8a;
        line-height: 20px; }
      .b123__item__content__readmore {
        font-family: "Ubuntu_condensedregular";
        font-size: 13px; }
        .b123__item__content__readmore a {
          color: #2a2d32; }
        .b123__item__content__readmore span {
          color: #248cec; }
      .b123__item__content__readmore:hover a {
        color: #248cec; }
      .b123__item__content__readmore:hover span {
        color: #8a8a8a; }
  .b123__spacing {
    display: inline-block;
    vertical-align: center;
    width: 49px; }

.background-services {
  height: 500px;
  background: #2a2d32; }

.services {
  width: 1160px;
  margin: 0 auto;
  font-size: 0;
  letter-spacing: 0; }
  .services h2 {
    padding: 50px 0 55px;
    font-family: "Ubuntu_condensedregular";
    font-size: 24px;
    color: white; }
  .services__item {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    position: relative;
    text-align: center; }
    .services__item a div {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
      height: 160px;
      background: #248cec;
      color: white;
      font-size: 60px;
      padding-top: 100px;
      opacity: 0.9; }
    .services__item a:hover + p {
      color: #f4b60d; }
    .services__item a:hover div {
      display: block; }
    .services__item p {
      margin: 30px 0 0;
      font-family: "Ubuntu_condensedregular";
      font-size: 16px;
      color: white; }
  .services__spacing {
    display: inline-block;
    vertical-align: top;
    width: 40px; }

.nb {
  height: 540px;
  background: #f7f7f7;
  font-size: 0;
  letter-spacing: 0;
  text-align: center; }
  .nb__side {
    display: inline-block;
    width: 560px;
    vertical-align: top;
    text-align: left; }
    .nb__side h2 {
      padding: 60px 0 50px;
      font-family: "Ubuntu_condensedregular";
      font-size: 24px;
      color: #2a2d32; }
    .nb__side__news__item {
      margin-bottom: 30px; }
      .nb__side__news__item__img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 150px; }
        .nb__side__news__item__img__date {
          position: absolute;
          top: 10px;
          left: -15px;
          width: 40px;
          line-height: 40px;
          font-family: "Ubuntu_condensedregular";
          text-align: center; }
          .nb__side__news__item__img__date__month {
            background: #248cec;
            color: white;
            font-size: 15px; }
          .nb__side__news__item__img__date__day {
            background: #f4b60d;
            color: #2a2d32;
            font-size: 18px; }
      .nb__side__news__item__content {
        display: inline-block;
        vertical-align: top;
        margin-left: 30px;
        line-height: 20px;
        width: 380px; }
        .nb__side__news__item__content__header {
          font-family: "Ubuntu_condensedregular";
          font-size: 16px;
          color: #2a2d32; }
          .nb__side__news__item__content__header:hover {
            color: #248cec; }
        .nb__side__news__item__content__by {
          padding-bottom: 20px;
          font-family: Arial;
          font-size: 13px;
          color: #2a2d32; }
          .nb__side__news__item__content__by a {
            color: #248cec; }
        .nb__side__news__item__content__text {
          font-family: Arial;
          font-size: 13px;
          color: #8a8a8a; }
    .nb__side__banners__item {
      margin-bottom: 5px;
      position: relative; }
    .nb__side__banners__radio {
      position: absolute;
      top: 11px;
      left: 9px;
      clip: rect(0, 0, 0, 0); }
    .nb__side__banners__radio:checked + .nb__side__banners__botton:after {
      content: "-";
      background: #f4b60d;
      border: 1px solid #f4b60d;
      color: white; }
    .nb__side__banners__radio:checked + .nb__side__banners__botton + .nb__side__banners__pannel {
      background: #f4b60d;
      border: 1px solid #f4b60d;
      color: white; }
    .nb__side__banners__radio:checked + .nb__side__banners__botton + .nb__side__banners__pannel + .nb__side__banners__text {
      display: block; }
    .nb__side__banners__botton {
      display: inline-block; }
    .nb__side__banners__botton:after {
      content: "+";
      display: inline-block;
      vertical-align: top;
      width: 40px;
      line-height: 40px;
      background: white;
      border: 1px solid #e8e8e8;
      font-size: 13px;
      color: #2a2d32;
      text-align: center;
      cursor: pointer;
      position: relative; }
    .nb__side__banners__pannel {
      display: inline-block;
      vertical-align: top;
      width: 505px;
      line-height: 40px;
      background: white;
      border: 1px solid #e8e8e8;
      margin-left: 1px;
      padding-left: 10px;
      font-family: "Ubuntu_condensedregular";
      font-size: 13px;
      color: #2a2d32; }
    .nb__side__banners__text {
      display: none;
      padding: 20px 0 40px 44px;
      font-family: Arial;
      font-size: 13px;
      color: #8a8a8a; }

.logos {
  font-size: 0;
  letter-spacing: 0;
  height: 150px;
  padding-top: 90px;
  text-align: center; }
  .logos__img {
    display: inline-block;
    vertical-align: top; }
  .logos__spacing {
    display: inline-block;
    vertical-align: top;
    width: 50px; }

.links {
  height: 325px;
  background: #2a2d32;
  font-size: 0;
  letter-spacing: 0;
  text-align: center; }
  .links__item {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    text-align: left; }
    .links__item__header {
      padding: 60px 0 50px;
      font-family: "Ubuntu_condensedregular";
      font-size: 16px;
      color: white; }
    .links__item__list li {
      border-top: 1px solid #8a8a8a; }
      .links__item__list li:first-child {
        border-top: none; }
      .links__item__list li a {
        line-height: 35px;
        font-family: Arial;
        font-size: 13px;
        color: #8a8a8a; }
        .links__item__list li a:hover {
          color: #248cec; }
  .links__spacing {
    display: inline-block;
    vertical-align: top;
    width: 40px; }

.background-contacts {
  background: #35383c; }

.contacts {
  width: 1160px;
  margin: 0 auto;
  line-height: 60px;
  font-family: Arial;
  font-size: 13px;
  color: #8a8a8a; }
  .contacts__adress {
    float: left;
    width: 650px; }
    .contacts__adress__item {
      padding-right: 30px; }
  .contacts__copywrite {
    float: right;
    width: 120px;
    text-align: right; }

/*# sourceMappingURL=style.css.map */
