@font-face {
    font-family: 'Ubuntu_condensedregular';
    src: url('../fonts/ubuntu-condensed-webfont.eot');
    src: url('../fonts/ubuntu-condensed-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/ubuntu-condensed-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-ubuntu: 'Ubuntu_condensedregular';

$color-blue: #248cec;
$color-yellow: #f4b60d;
$color-lightgrey: #8a8a8a;
$color-darkgrey: #2a2d32;
$background-contacts: #35383c;
$background-search: #35383c;