body{
	height: 100%;
	background-color: #f0f0f0;
	font-family: Calibri, sans-serif;
}
.wrapper{
	width: 300px;
	margin: 50px auto 0;
}
.panel{
	background-color: white;
	border: 5px solid #2d3b4d;
	border-radius: 20px;
	color: #2d3b4d;
	font-weight: bold;
}
.panelTime{
	width: 174px;
	margin: 0 auto;
	font-size: 48px;
}
.panelMs{
	padding-right: 80px;
	font-size: 24px;
	text-align: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.buttonLeft, .buttonRight{
	display: block;
	width: 110px;
	margin-top: 20px;
	border: 3px solid #2d3b4d;
	border-radius: 20px;
	color: #2d3b4d;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	cursor: pointer;
	background-color: white;
}
.buttonLeft{
	float: left;
}
.buttonRight{
	float: right;
}
.buttonBack{
	display: block;
	width: 280px;
	margin: 20px auto;
	color: grey;
	font-size: 16px;
	text-align: center;
}
