html, body{
	height: 100%;
	background: white;
}
.wrapper{
	width: 850px;
	margin: 100px auto 0;
}
.panel{
	background: #8dcff4;
	border: 15px solid black;
	border-radius: 50px;
	color: black;
	font-weight: bold;
	font-family: Arial;
}
.panelTime{
	width: 640px;
	margin: 0 auto;
	font-size: 160px;
}
.panelMs{
	padding-right: 120px;
	font-size: 36px;
	text-align: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.buttonLeft, .buttonRight{
	display: block;
	width: 280px;
	margin-top: 40px;
	border: 10px solid black;
	border-radius: 50px;
	color: black;
	font-weight: bold;
	font-family: Arial;
	font-size: 72px;
	text-align: center;
	cursor: pointer;
}
.buttonLeft{
	float: left;
	background: #00b034;
}
.buttonRight{
	float: right;
	background: #e3007b;
}
.buttonBack{
	display: block;
	width: 280px;
	margin: 40px auto;
	color: #3d107b;
	font-family: Arial;
	font-size: 24px;
	text-align: center;
}
