body{
	height: 100%;
	background-color: #f0f0f0;
	font-family: Calibri, sans-serif;
}
.panelTime{
	width: 260px;
	margin: 50px auto 0;
	color: #2d3b4d;
	text-shadow: 1px 1px 3px white;
	font-weight: bold;
	font-size: 48px;
}
.box{
	text-align: center;
}
.buttonLeft, .buttonSplit, .buttonReset{
	display: inline-block;
	margin-top: 15px;
	padding: 5px;
	border: 1px solid #c1c1c1;
	background-color: white;
	color: #2d3b4d;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}
.buttonLeft{
	width: 50px;
}
.results{
	display: block;
	width: 240px;
	margin: 15px auto;
	color: #2d3b4d;
	font-size: 24px;
	font-weight: bold;
}
.buttonBack{
	display: block;
	width: 280px;
	margin: 15px auto;
	color: grey;
	font-size: 16px;
	text-align: center;
}
