/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-logo@2x {
  background-image: url(sprite@2x.png);
  background-position: 0px 0px;
  width: 219px;
  height: 48px;
}
.icon-next@2x {
  background-image: url(sprite@2x.png);
  background-position: 0px -52px;
  width: 60px;
  height: 111px;
}
.icon-partners_icon_1@2x {
  background-image: url(sprite@2x.png);
  background-position: -128px -52px;
  width: 81px;
  height: 82px;
}
.icon-partners_icon_2@2x {
  background-image: url(sprite@2x.png);
  background-position: -223px 0px;
  width: 81px;
  height: 82px;
}
.icon-partners_icon_3@2x {
  background-image: url(sprite@2x.png);
  background-position: 0px -167px;
  width: 81px;
  height: 81px;
}
.icon-partners_icon_4@2x {
  background-image: url(sprite@2x.png);
  background-position: -85px -167px;
  width: 81px;
  height: 81px;
}
.icon-prev@2x {
  background-image: url(sprite@2x.png);
  background-position: -64px -52px;
  width: 60px;
  height: 111px;
}
