<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Поиск фотографий</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="photos">
		<h1 class="photos__header">Поиск фотографий на pixabay.com</h1>
		<div class="photos__tile"></div>
		<div class="photos__page"></div>
	</section>

	<script type='text/template' id='photos__tdiv'>
		<% for (var i = 0; i < 9; i++) { %>
			<div class="photos__item">
				<span class="photos__box"><img class="photos__img" src=<%=tileImage[i]%>></span>
				<% for (var j = 0; j < tileText[i].length; j++) { %>
					<span class="photos__text"><%=tileText[i][j]%></span>
				<% } %>
			</div>
      	<% } %>		
    </script>

    <script type='text/template' id='photos__pdiv'>
		<% for (var i = 0; i < 7; i++) { %>
			<span class="photos__pnum"><%=pageNumber[i]%></span>
      	<% } %>		
    </script>

	<section class="search">
		<p class="search__title">Введите ваш текст для поиска:</p>
		<div class="search__form">
			<input type="text" class="search__text">
			<button class="search__button">Найти</button>
		</div>
	</section>

    <script src="js/johnresig.js"></script>
    <script src="js/script.js"></script>
</body>
</html>